<div class="footer">
  <small>
    Created with  from &#10084;
    <a href="https://www.twitter.com/lucciddev" class="no-decoration" target="_blank">
      @lucciddev
    </a>
  </small>
  <div class="link-wrapper">
    <a href="https://www.twitter.com/lucciddev" target="_blank">
      <ion-icon slot="start" name="logo-twitter"></ion-icon>
    </a>
    <a href="https://www.linkedin.com/in/adedeji-agunbiade-b27606165/" target="_blank">
      <ion-icon slot="start" name="logo-linkedin"></ion-icon>
    </a>
    <a href="https://www.github.com/dejongbaba" target="_blank">
      <ion-icon slot="start" name="logo-github"></ion-icon>
    </a>
    <a href="https://www.facebook.com/lucciddev" target="_blank">
      <ion-icon slot="start" name="logo-facebook"></ion-icon>
    </a>
  </div>
</div>
