.app-game {
  --background: #f1f3f5;

  .game-section {
    margin-top: 5rem;
  }
}

@media all and (min-width: 768px) {

  .app-game {
    .game-section {
      text-align: center;

      ion-card {
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}
